<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/yui/3.18.1/cssreset/cssreset-min.css" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <% next if message.blank? %>
      <div class="flash flash-<%= type %>" role="alert"><%= message %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
